/* =================== */
/* all template colors */
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-mainbg: hsl(217, 54%, 11%);
  --very-dark-blue-cardbg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

/* =================== */
/* default body values */
body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

/* =================================== */
/* landing page elements (prefixed-lp) */
/* background */
.lp-bg {
  background: url(./images/landingPage-Background.png) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* opacity-mask (reusable )*/
.lp-op {
  background: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* container ( reusable )*/
.lp-con {
  padding: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* title large */
.lp-tl {
  font-size: 125px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 2px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* text */
.lp-p {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--soft-blue);
}
/* get started button */
.lp-gs {
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}
/* hover state */
.lp-gs:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0 0 15px #fff, 0 0 30px #fff;
  transition: all 300ms ease-in-out;
}
/* glow value default ( reusable ) */
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff,
      0 0 10px var(--very-dark-blue-cardbg),
      0 0 20px var(--very-dark-blue-cardbg),
      0 0 30px var(--very-dark-blue-cardbg),
      0 0 40px var(--very-dark-blue-cardbg),
      0 0 50px var(--very-dark-blue-cardbg);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px var(--soft-blue),
      0 0 20px var(--soft-blue), 0 0 30px var(--very-dark-blue-cardbg),
      0 0 40px var(--soft-blue), 0 0 50px var(--soft-blue), 0 0 60px #ff4da6;
  }
}

/* =================================== */
/* sign in page elements (prefixed-sp) */
/* background */
.sp-bg {
  background: url(./images/landingPage-Background.png) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* google icon */
.sp-ico {
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* signin link */
.botlink {
  padding: 30px 0 30px 0;
  font-size: 40px;
  color: #ffffff;
}
/* hover state */
.botlink:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  color: black;
  transition: all 500ms ease-in-out;
}

/* =============================== */
/* navbar elements ( prefixed nb ) */
/* main titular logo ( title - large ) */
.nb-tl {
  font-size: 55px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 2px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* container */
.nb-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 0 30px;
}
/* navbar list using NavLink ( react-router-dom ) */
nav {
  color: white;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between 25px;
  gap: 25px;
}
/* links */
nav a {
  position: relative;
  color: white;
  cursor: pointer;
}
/* hover states */
nav a:hover {
  color: var(--soft-blue);
  text-shadow: 0 0 2px rgb(131, 196, 226), 0 0 4px rgb(131, 196, 226);
  transition: all 300ms ease-in-out;
}
/* active states */
nav a.active {
  color: var(--soft-blue);
  text-shadow: 0 0 2px rgb(131, 196, 226), 0 0 4px rgb(131, 196, 226);
  transition: all 300ms ease-in-out;
}

/* ================================== */
/* home page elements ( prefixed hp ) */
/* background */
.hp-bg {
  background: url(./images/homepage-background.png) no-repeat fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* opacity - mask */
.hp-op {
  background: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* title - medium */
.hp-tm {
  font-size: 100px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 1px;
  margin: 50px 0 0 20px;
}
/* display name */
.hp-dn {
  display: flex;
  margin: 0 0 0 30px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: var(--white);
  font-size: 35px;
}
/* home - text */
.hp-p {
  font-size: 35px;
  width: 80%;
  margin: 20px 0 0 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--soft-blue);
}
/* in-line link */
.hp-l {
  padding: 30px 0 30px 0;
  font-size: 35px;
  color: #ffffff;
}
/* hover state */
.hp-l:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  color: black;
  transition: all 500ms ease-in-out;
}

/* ================================= */
/* bot page elements ( prefixed bp ) */
/* background */
.bp-bg {
  background: url(./images/bot-page-background.png) no-repeat fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* container */
.bp-con {
  width: fit-content;
  margin-top: 40px;
  border-radius: 30px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px;
  letter-spacing: 2px;
}
.bp-tm {
  font-size: 100px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 1px;
  margin: 50px 0 0 0;
}
/* numbers in circles */
.bp-circ {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 36px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 6px 12px;
}
/* hover state */
.bp-circ:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* small line under the nuumbers */
.bp-rect {
  width: 700px;
  height: 2px;
  margin-top: 10px;
  background-color: pink;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px;
}
/* ready button */
.bp-readybtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.bp-readylink {
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  border-radius: 50px;
  padding: 2px 20px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
}
.bp-readylink:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff;
  transition: all 300ms ease-in-out;
}

/* ===================================== */
/* tracker page elements ( prefixed tp ) */
/* background */
.tp-bg {
  background: url(./images/tracker-page-background.png) no-repeat center/cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* container */
.tp-con {
  font-family: "Roboto Mono", monospace;
  background-color: var(--very-dark-blue-cardbg);
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
/* input form */
.tp-f-input input {
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
/* input button */
.tp-f-input button {
  font-weight: 700;
  color: white;
  background-color: var(--soft-blue);
  width: 120px;
  height: 50px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 7px 12px;
  letter-spacing: 1px;
}
/* hover - active state */
.tp-f-input button:hover {
  transition: all 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 7px 12px;
  background-color: white;
  color: var(--soft-blue);
}
/* details */
.tp-info {
  border-radius: 15px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  width: 500px;
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

/* =================================== */
/* about page elements ( prefixed ap ) */
/* background */
.ap-bg {
  background: url(./images/about-page-background.png) no-repeat fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* github icon */
.git-con {
  margin-top: 30px;
}
.git {
  color: #ffffff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* hover state */
.git:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  color: black;
  transition: all 500ms ease-in-out;
}
/* text */
.ap-p {
  font-size: 25px;
  margin: 20px 10% 0 10%;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--soft-blue);
}

/* =================================== */
/* about page elements ( prefixed ap ) */
/* background */
.fp-bg {
  background: url(./images/feedback-page-background.png) no-repeat fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* container */
.fp-con {
  margin-top: 80px;
  font-family: "Roboto Mono", monospace;
  width: 400px;
  height: 440px;
  padding: 30px;
  background-color: var(--very-dark-blue-cardbg);
  position: absolute;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px;
}
/* all form elements */
form {
  display: flex;
  flex-direction: column;
}
#name {
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
#email {
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
#message {
  border-radius: 15px;
  padding: 5px;
  margin-top: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
/* submit button */
.fp-cta {
  margin-top: 30px;
  font-weight: 700;
  color: white;
  background-color: var(--soft-blue);
  width: 120px;
  height: 50px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 7px 12px;
  letter-spacing: 1px;
}
.fp-cta:hover {
  transition: all 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 7px 12px;
  background-color: white;
  color: var(--soft-blue);
}
.fp-cta:active {
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

/* ====================================== */
/* notfound page elements ( prefixed np ) */
/* background */
.np-bg {
  background: url(./images/nf-page-background.png) no-repeat fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* title */
.np-tm {
  margin-top: 50px;
  font-size: 100px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 1px;
}
/* icon container */
.nf-con {
  margin-top: 30px;
}
.nf {
  color: var(--white);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* hover state */
.nf:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  color: black;
  transition: all 500ms ease-in-out;
}
/* text */
.np-p {
  font-size: 35px;
  margin: 50px 10% 0 10%;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--white);
}

/* ============================== */
/* ============================== */
/* media queries - mobile version */
@media only screen and (max-width: 540px) {
  /* =================================== */
  /* landing page elements (prefixed-lp) */
  .lp-bg {
    background: url(./images/landingPage-Background.png) no-repeat center;
  }
  .lp-tl {
    font-size: 65px;
  }
  .lp-p {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  .lp-gs {
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    padding: 0 15px 0 15px;
  }
  /* =================================== */
  /* sign in page elements (prefixed-sp) */
  .sp-bg {
    background: url(./images/landingPage-Background.png) no-repeat center;
  }
  .botlink {
    margin-top: 15px;
    font-size: 20px;
  }
  /* =================================== */
  /* navbar elements ( prefixed nb ) */
  .nb-tl {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 30px;
  }
  .nb-con {
    flex-direction: column;
    padding: 10px 10px 0 10px;
  }
  nav {
    font-size: 14px;
    justify-content: center;
    justify-content: space-between 15.5px;
    gap: 15.5px;
  }
  /* ================================== */
  /* home page elements ( prefixed hp ) */
  .hp-bg {
    background: url(./images/homepage-background.png) no-repeat center;
  }
  .hp-tm {
    font-size: 40px;
    margin: 30px 0 0 10px;
  }
  .hp-dn {
    margin: -5px 0 0 12px;
    font-size: 25px;
  }
  .hp-p {
    font-size: 20px;
    width: 90%;
    margin: 10px 0 0 12px;
    letter-spacing: 1px;
  }
  .hp-l {
    font-size: 20px;
  }
  .hp-l:active {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    color: black;
    transition: all 500ms ease-in-out;
  }
  /* ================================= */
  /* bot page elements ( prefixed bp ) */
  .bp-bg {
    background: url(./images/bot-page-background.png) no-repeat center;
  }
  .bp-tm {
    font-size: 40px;
    margin: 30px 0 0 0;
  }
  .bp-con {
    width: 300px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(119, 119, 119, 0.5);
  }
  .bp-circ {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .bp-rect {
    width: 260px;
  }
  .bp-readybtn {
    margin-top: 20px;
  }
  .bp-readylink {
    height: 30px;
    font-size: 15px;
    padding: 3.5px 10px 0 10px;
  }
  /* ===================================== */
  /* tracker page elements ( prefixed tp ) */
  .tp-bg {
    background: url(./images/tracker-page-background.png) no-repeat center;
  }
  .tp-con {
    width: 300px;
    padding: 10px;
  }
  .tp-f-input input {
    padding: 5px;
    margin-top: 10px;
  }
  .tp-f-input button {
    width: 80px;
    height: 30px;
  }
  .tp-info {
    font-size: 15px;
    width: 280px;
    margin: 30px 0 5px 0;
    padding: 10px;
  }
  /* =================================== */
  /* about page elements ( prefixed ap ) */
  .ap-bg {
    background: url(./images/about-page-background.png) no-repeat center;
  }
  .git-con {
    margin-top: 20px;
  }
  .ap-p {
    font-size: 14px;
    margin: 20px 10px 0 10px;
  }
  /* =================================== */
  /* about page elements ( prefixed ap ) */
  .fp-bg {
    background: url(./images/feedback-page-background.png) no-repeat center;
  }
  .fp-con {
    margin-top: 80px;
    width: 280px;
    height: 360px;
    padding: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  #name {
    margin-top: 15px;
  }
  #email {
    margin-top: 15px;
  }
  #message {
    margin-top: 15px;
  }
  .fp-cta {
    margin-top: 15px;
    width: 90px;
    height: 30px;
  }
  /* ====================================== */
  /* notfound page elements ( prefixed np ) */
  .np-bg {
    background: url(./images/nf-page-background.png) no-repeat center;
  }
  .np-tm {
    margin-top: 20px;
    font-size: 50px;
  }
  .nf-con {
    margin-top: 30px;
  }
  .np-p {
    font-size: 15px;
    margin: 10px 10px 0 10px;
  }
}
